:root{
    --primaryColor:#19B885;
}
.html,body{
    margin: 0%;
    padding: 0%;
    font-size: 12px;
    max-width: 100%;
    overflow-x: hidden;
    
}
/*done */
/* For Mobile Screen . Tested on Iphone Se 375x667*/

/* navbar begins here */
.section_navbar{
    margin-left: 5%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
   
   
   
    
}
.section_navbar_container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 2%;
}
.section_navbar_container_logo{
    display: flex;
    align-items: center;
    
    
}
.section_navbar_container_menu{
    display: flex;
    align-items: center;
    min-width: 5vw;
    
   
    
}
.section_navbar_links{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0px;

   
    

}
.section_navbar_links>a{
    border-top: solid rgba(0,0,0,0.3); ;
    padding: 3%;
    min-width: 85vw;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    min-height: 3vh;
    
}
.section_navbar_button{
    border-top: solid rgba(0,0,0,0.3); ;
    padding: 2%;
    min-width: 85vw;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    
}
.section_navbar_button>button{
    border: none;
    background-color: var(--primaryColor);
    border-radius: 5px;
    min-width: 25vw;
    min-height: 5vh;
    color: white ;
}
.section_navbar_links_toggle{
    display: flex;
    background-color: white;
    z-index: 100;
    min-height: 35vh;
    height: 35vh;
    
}

.section_navbar_button_desk{
    visibility: hidden;
   
    
}

.section_navbar_button_desk>button{
  
    visibility: hidden;
    
}
/* navbar ends here */

/*Mobile Screen Ends Here*/

/*Bigscreen begins here */
@media only screen and (min-width: 992px) {
    /* navbar begins here */
.section_navbar{
    
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 3%;
    
    min-height: 10vh;
    max-height: 10vh;
    
    
  


    
}
.section_navbar_container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    min-height: 100%;
    max-height: 5vh;
    padding: 0%;
    align-items: center;
    
    
}
.section_navbar_container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    min-height: 5vh !important;
    padding: 0% !important;
    
   
    
    
    
}
.section_navbar_container_menu{
    display: none;
    align-items: center;
    min-width: 0vw;
    visibility: hidden
    
    
   
    
}
.section_navbars_menu_toggle{
    visibility: hidden;
    display: none;
}
.section_navbar_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    align-items: center;
    margin: 1%;
    margin-left: 3%;
    gap: 20px;
    max-height: 5vh;
    visibility: visible;
    
    min-height: 5vh !important;
    
   
    
    
    
}
.section_navbar_links>a{
    border: none;
    padding: 0%;
    min-width: 3vw;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    min-height: 5vh;
    visibility: visible;
    
    
}

.section_navbar_links>a:hover{
    color:var(--primaryColor)
    
}
.section_navbar_button{
    align-self: flex-end;
    border:none;
    padding: 2%;
    min-width: 5vw;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    
}
.section_navbar_button>button{
    border: none;
    background-color: var(--primaryColor);
    border-radius: 5px;
    min-width: 5vw;
    min-height: 5vh;
    color: white ;
    visibility: hidden;
}
.section_navbar_links_toggle{
    visibility: visible;
    opacity: 1;
    
}
.section_navbar_button_desk{
    min-height: 120rem;;
    justify-content: center;
    visibility: visible;
    min-height: 5vh;
    max-height: 5vh;
    margin-left: auto;
    
    
    
}
.section_navbar_button_desk>button{
    visibility: visible;
    border: none;
    background-color: var(--primaryColor);
    border-radius: 5px;
    min-width: 8vw;
    min-height: 5vh;
    color: white ;
  
    
}
/* navbar ends here */
}
/*Bigscreen ends here */